<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
	</head>
	<body {{#custom_css}}class="{{custom_css}}"{{/custom_css}}>
		{{>content}}
	</body>
</html>